@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Main Page</h2>
        <ul>
            <li>Assignment01_ASP.NET MVC</li>
        </ul>
    </div>
</div>
